body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: scroll;
    overflow-x: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.dash {
    padding: 20px;
}

.dash h1 {
    text-align: center;
    margin-bottom: 20px;
}

.table img {
    max-width: 100px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background: #555;
}

h2 {
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropbtn:hover {
    background-color: #555;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

/* Dropdown links */
.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}